{% extends 'app/base.html' %}

{% block title %}首页{% endblock %}

{% block container %}
    <div class="container">
    {% include 'app/snippet/app_list.html' %}
    </div><!-- end container -->
{% endblock %}

{% block script %}
    {{ block.super }}
    <script>
        var baseUrl = location.protocol + "//" + location.host;
        {% for app in apps %}
            qr("{{app.app_name}}{{app.app_version}}{{app.platform.name}}", baseUrl + "{{app.app_package.url}}");
        {% endfor %}
    </script>
{% endblock %}